<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>MNNIT Sangam</title>
        <meta content="" name="description">
      
        <meta content="" name="keywords">
		
		<!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
                
		<link href="css/style1.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

		 <!-- Vendor CSS Files -->
		  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
		  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
		  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
		  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
    </head>
      
<body>
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.jpeg" alt="">
        <span>Sangam</span>

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span>MNNIT Sangam</span>
      </a>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/home">Community</a></li>
          <li><a class="nav-link scrollto" href="/logout">logout</a></li>
          <li><a class="nav-link scrollto" href="/club">Clubs</a></li>

          <li><span class="getstarted scrollto">Dashboard</span></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


<div class="container rounded bg-white mt-6 mb-5" data-aos="fade-up">
    <div class="row">
        <div class="col-md-3 border-right" data-aos="fade-up">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5" data-aos="fade-up"><img class="rounded-circle mt-5" src="assets/img/avtar1.png" width="100">
			<br>

       <% var userData %>
			<span class="font-weight-bold" style="font-size:20px;"> <%= userData[0].username %></span>
			<span> <%= userData[0].reg_no %></span>
			<span><%= userData[0].dept %></span>
			<span class="text-black-50"><%= userData[0].email %></span>
			<span><%= userData[0].conatct %></span>
			</div>
			<div>
			<a href="<%= userData[0].fb_link %>" target="_blank"><img src="https://img.icons8.com/plasticine/100/000000/facebook-new.png" width="50" height="50" /></a>
			<a href="<%= userData[0].git_link %>" target="_blank"><img src="https://img.icons8.com/ios-filled/48/000000/github.png" width="45" height="45" /></a>
			<a href="<%= userData[0].lin_link %>" target="_blank"><img src="https://img.icons8.com/fluent/50/000000/linkedin.png" width="45" height="45" /></a>
			</div>
        </div>
        <div class="col-md-5 border-right" >
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right title">Edit your profile</h6>
                </div>
			<form name="update-profile" action="/profile-update-<%=userData[0].user_id %>" method="post">
                <div class="row mt-3" >
					<div class="col-md-12"><label class="labels">Phone Number:</label><input type="text" class="form-control" name="phone" value="<%=userData[0].contact %>" /></div>
                    <div class="col-md-12"><label class="labels">Facebook</label><input type="text" class="form-control" value="<%=userData[0].fb_link %>" name="facebook"></div>
                  
                    <div class="col-md-12"><label class="labels">Github</label><input type="text" class="form-control" value="<%=userData[0].git_link %>" name="github"></div>
					<div class="col-md-12"><label class="labels">Linkedin</label><input type="text" class="form-control" value="<%=userData[0].lin_link %>" name="linkedin"></div>
                </div>
            
                <div class="mt-5 text-center"><input type="submit" class="btn btn-primary profile-button" value="Update"></div>
            </form>
			</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
				<div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right title">Activity</h6>
                </div>
                <form name="activity" action="" method="get">
					<label class="labels">Day Number:</label><input type="number" name="day" class="form-control" required/>
					<label class="labels">Summary:</label><textarea name="summary" rows="10" cols="50" name="activity" class="form-control" required/></textarea>
					<div class="mt-5 text-center"> <input type="submit" value="Submit" class="btn btn-primary profile-button" > </div>
				</form>
            </div>
        </div>
    </div>
	<br><hr/><br>
	<div class="row chart" data-aos="fade-up">
		<h6 class="title">Activity Chart</h6><br>
		<br/>
		<img src="assets/img/chart.jpeg" data-aos="fade-up"/>
		
	</div>
</div>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="copyright">
      &copy; Copyright 2021 | <strong><span>MNNIT Meet</span></strong> | All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      Designed with &#10084;&#65039; <a href="https://bootstrapmade.com/"> by Hello,World!</a>
    </div>
  </div>
</footer><!-- End Footer -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Template Main JS File -->
  <script src="js/script.js"></script>

</body>
</html>